<mat-card>
  <mat-card-header>
    <mat-card-title>User Login for SCODE-CRM</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Seu Usuário" formControlName="username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>

      <div class="ButtonRegister">
        <button mat-raised-button color="primary">Submit</button>
        <a href="/register" mat-raised-button color="accent">Back to SignUp</a>
      </div>

    </form>
  </mat-card-content>
</mat-card>
