<nav *ngIf="isMenuRequire" class="navbar navbar-expand-lg navbar-dark" style="background-color: #516BEB">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">SCODE_CRM</a>
    <button class="navbar-toggler" type="button" data-bs-toggler="collapse" data-bs-target="#navbarSupportedContent"
      arial-controls="navbarSupportedContent" arial-expanded="false" arial-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-suto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" arial-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Product</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a class="btn btn-outline-light" type="submit" routerLink="/login">Logout</a>
      </form>
    </div>
  </div>
</nav>
<!-- <mat-toolbar color="primary">
  <span class="navbar-brand">SCODE_CRM</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/" routerLinkActive="active">Home</a>
  <a mat-button routerLink="/register" routerLinkActive="active">Register</a>
  <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
  <a mat-button routerLink="/user" routerLinkActive="active">User</a>
  <span class="spacer"></span>
  <button mat-button routerLink="/logout">Logout</button>
</mat-toolbar> -->



<div class="content" style="width: 100%;display: block;" role="main">
  <router-outlet></router-outlet>
</div>
